<div class="col-xl my-5 mx-4">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Add Product</h5>
                      
                    </div>
                    <div class="card-body">
                      <form action="/admin/addbanner" method="post" enctype="multipart/form-data" >
                        
                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-message">Add image</label>
                          <div class="input-group input-group-merge">
                            <input type="file" name="image" multiple>
                          </div>
                              <canvas id="croppedCanvas" style="display: none;"></canvas>

                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                      </form>
                    </div>
                  </div>
                </div>
