<div class="col-xl my-5 mx-4">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Add Coupen</h5>
                      
                    </div>
                    <div class="card-body">
                      <form action="addCoupen" method="post">
                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-fullname">Coupen code</label>
                          <div class="input-group input-group-merge">
                             
                            <input
                              type="text"
                              class="form-control"
                              id="basic-icon-default-fullname"
                              name="couponCode"
                              aria-label="John Doe"
                              aria-describedby="basic-icon-default-fullname2"
                            />
                          </div>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-company">Type</label>
                          <div class="input-group input-group-merge">
                            
                            <input
                              type="text"
                              id="basic-icon-default-company"
                              class="form-control"
                              name="couponType"
                              aria-label="ACME Inc."
                              aria-describedby="basic-icon-default-company2"
                            />
                          </div>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-email">Minimum Price</label>
                          <div class="input-group input-group-merge">
                            <input
                              type="text"
                              id="basic-icon-default-email"
                              class="form-control"
                              name="minimumPrice"
                              aria-label="john.doe"
                              aria-describedby="basic-icon-default-email2"
                            />
                          </div>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-phone">Discount</label>
                          <div class="input-group input-group-merge">
                            
                            <input
                              type="text"
                              id="basic-icon-default-phone"
                              class="form-control phone-mask"
                              aria-label="658 799 8941"
                              name="discount"
                              aria-describedby="basic-icon-default-phone2"
                            />
                          </div>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-email">Maximum Redeem Amount</label>
                          <div class="input-group input-group-merge">
                            <input
                              type="text"
                              id="basic-icon-default-email"
                              class="form-control"
                              aria-label="john.doe"
                              name="maxRedeem"
                              aria-describedby="basic-icon-default-email2"
                            />
                          </div>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-email">Expiry</label>
                          <div class="input-group input-group-merge">
                            <input
                              type="text"
                              id="basic-icon-default-email"
                              class="form-control"
                              name="expiry"
                              aria-label="john.doe"
                              aria-describedby="basic-icon-default-email2"
                            />
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Coupen</button>
                      </form>
                    </div>
                  </div>
                </div>