
<div class="col-xl my-5 mx-4">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Add Product</h5>
                      
                    </div>
                    <div class="card-body">
                      <form action="/admin/addproduct" method="post" enctype="multipart/form-data" >
                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-fullname">Product Name</label>
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"
                              ><i class="bx bx-user"></i
                            ></span>
                            <input
                              type="text"
                              class="form-control"
                              id="basic-icon-default-fullname"
                              name="product"
                              aria-label="John Doe"
                              aria-describedby="basic-icon-default-fullname2"
                            />
                          </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="basic-icon-default-company">Category</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text">
                                    <i class="bx bx-buildings"></i>
                                </span>
                                <select
                                    id="basic-icon-default-company"
                                    class="form-select"
                                    name="category"
                                    aria-label="Category"
                                    aria-describedby="basic-icon-default-company2"
                                >
                                    <option selected disabled>Select Category</option>
                                    {{#each category}}
                                    <option value="{{this._id}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-email">Price</label>
                          <div class="input-group input-group-merge">
                            <span class="input-group-text"><i class="bx bx-wallet"></i></span>
                            <input
                              type="number"
                              class="form-control"
                              id="price"
                              name="price"
                              aria-label="john.doe"
                              aria-describedby="basic-icon-default-email2"
                            />
                          </div>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-email">Percentage Discount</label>
                          <div class="input-group input-group-merge">
                            <span class="input-group-text"><i class="bx bx-heart"></i></span>
                            <input
                              type="number"
                              class="form-control"
                              id="discount"
                              aria-label="john.doe"
                              aria-describedby="basic-icon-default-email2"
                              onchange="calculateTotalPrice()"
                            />
                          </div>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-email">Final Price</label>
                          <div class="input-group input-group-merge">
                            <span class="input-group-text">INR</span>
                            <input
                              type="number"
                              class="form-control"
                              id="finalprice"
                              name="offerPrice"
                              aria-label="john.doe"
                              aria-describedby="basic-icon-default-email2"
                              min="0" max="80" step="1"
                              readonly
                            />
                          </div>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-phone">Quantity</label>
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-phone2" class="input-group-text"
                              ><i class="bx bx-cart"></i
                            ></span>
                            <input
                              type="number"
                              id="basic-icon-default-phone"
                              class="form-control phone-mask"
                              name="stock"
                              aria-describedby="basic-icon-default-phone2"
                            />
                          </div>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-message">Description</label>
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-message2" class="input-group-text"
                              ><i class="bx bx-comment"></i
                            ></span>
                            <textarea
                              id="basic-icon-default-message"
                              class="form-control"
                              name="description"
                              aria-describedby="basic-icon-default-message2"
                            ></textarea>
                          </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="basic-icon-default-message">Add image</label>
                            <div class="input-group input-group-merge">
                                <input type="file" name="image" id="imageInput" multiple>
                            </div>
                            <canvas id="croppedCanvas" style="display: none;"></canvas>
                        </div>


                        <button type="submit" class="btn btn-primary">Add</button>
                      </form>
                    </div>
                  </div>
                </div>
                <script defer src="https://cdn.crop.guide/loader/l.js?c=YFFNCN"></script>
<script>
function calculateTotalPrice() {
  const price = parseFloat(document.getElementById('price').value);
  const discount = parseFloat(document.getElementById('discount').value);
  const totalPrice = price - (price * discount / 100)
  if (discount > 80) {
    alert("Discount cannot exceed 80%");
    document.getElementById('discount').value=80 // Set the value back to 80 if it exceeds
  }
  if (discount < 0) {
    alert("Discount should above 0%");
     document.getElementById('discount').value=0 // Set the value back to 80 if it exceeds
  }
  document.getElementById('finalprice').value = totalPrice.toFixed(2);
}
</script>

