
<div class="col-xl my-5 mx-4">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Add Product</h5>
                      
                    </div>
                    <div class="card-body">
                      <form action="/admin/addproduct" method="post" enctype="multipart/form-data" >
                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-fullname">Product Name</label>
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"
                              ><i class="bx bx-user"></i
                            ></span>
                            <input
                              type="text"
                              class="form-control"
                              id="basic-icon-default-fullname"
                              name="product"
                              aria-label="John Doe"
                              aria-describedby="basic-icon-default-fullname2"
                            />
                          </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="basic-icon-default-company">Category</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text">
                                    <i class="bx bx-buildings"></i>
                                </span>
                                <select
                                    id="basic-icon-default-company"
                                    class="form-select"
                                    name="category"
                                    aria-label="Category"
                                    aria-describedby="basic-icon-default-company2"
                                >
                                    <option selected disabled>Select Category</option>
                                    {{#each category}}
                                    <option value="{{this._id}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        <div class="mb-3">
                      <label class="form-label" for="basic-icon-default-email">Price</label>
                      <div class="input-group input-group-merge">
                          <span class="input-group-text"><i class="bx bx-wallet"></i></span>
                          <input
                              type="number"
                              class="form-control"
                              id="price"
                              name="price"
                              aria-label="john.doe"
                              aria-describedby="basic-icon-default-email2"
                              onchange="priceminimum()"
                          />
                      </div>
                  </div>
                  <div class="mb-3">
                      <label class="form-label" for="basic-icon-default-email">Percentage Discount</label>
                      <div class="input-group input-group-merge">
                          <span class="input-group-text"><i class="bx bx-heart"></i></span>
                          <input
                              type="number"
                              class="form-control"
                              id="discount"
                              name="discount"
                              aria-label="john.doe"
                              aria-describedby="basic-icon-default-email2"
                              onchange="calculateTotalPrice()"
                          />
                      </div>
                  </div>
                  <div class="mb-3">
                      <label class="form-label" for="basic-icon-default-email">Final Price</label>
                      <div class="input-group input-group-merge">
                          <span class="input-group-text">INR</span>
                          <input
                              type="number"
                              class="form-control"
                              id="finalprice"
                              name="offerPrice"
                              aria-label="john.doe"
                              aria-describedby="basic-icon-default-email2"
                              min="0" max="80" step="1"
                              readonly
                          />
                      </div>
                  </div>
                  <div class="mb-3">
                      <label class="form-label" for="basic-icon-default-phone">Quantity</label>
                      <div class="input-group input-group-merge">
                          <span id="basic-icon-default-phone2" class="input-group-text">
                              <i class="bx bx-cart"></i>
                          </span>
                          <input
                              type="number"
                              id="stock"
                              class="form-control phone-mask"
                              name="stock"
                              aria-describedby="basic-icon-default-phone2"
                              onchange="minimumquantity()"
                          />
                      </div>
                  </div>

                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-message">Description</label>
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-message2" class="input-group-text"
                              ><i class="bx bx-comment"></i
                            ></span>
                            <textarea
                              id="basic-icon-default-message"
                              class="form-control"
                              name="description"
                              aria-describedby="basic-icon-default-message2"
                            ></textarea>
                          </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="basic-icon-default-message">Add image</label>
                            <div id="imagePreview" class="mb-3 d-flex">
        <!-- Image previews will be shown here -->
    </div>
                            <div class="input-group input-group-merge">
                                <input type="file" name="image" id="imageInput" multiple>
                            </div>
                            <canvas id="croppedCanvas" style="display: none;"></canvas>
                        </div>
                        

                        <button type="submit" class="btn btn-primary">Add Product</button>
                      </form>
                    </div>
                  </div>
                </div>
                <script defer src="https://cdn.crop.guide/loader/l.js?c=HDCGXY"></script>

<script>
    function priceminimum() {
        const price = parseFloat(document.getElementById('price').value);
        if (price < 0) {
            alert("Price should be greater than 0");
            document.getElementById('price').value = 0;
        }
    }
    function minimumquantity() {
        const stock = parseFloat(document.getElementById('stock').value);
        if (stock < 0) {
            alert("Quantity should greater than 0");
            document.getElementById('stock').value = 0;
        }
    }


    function calculateTotalPrice() {
        const price = parseFloat(document.getElementById('price').value);
        const discount = parseFloat(document.getElementById('discount').value);
        
        if (discount > 80) {
            alert("Discount cannot exceed 80%");
            document.getElementById('discount').value = 80;
            totalPrice = price - (price * 80 / 100); // Adjust totalPrice if discount exceeds 80%
        }else if(discount < 0) {
            alert("Discount should be above or equal to 0%");
            document.getElementById('discount').value = 0;
            totalPrice = price; // If discount is negative, set totalPrice to price
        }else{
          let totalPrice = price - (price * discount / 100);
        document.getElementById('finalprice').value = totalPrice.toFixed(2);
        }
        
    }
</script>

<script>
    document.getElementById('imageInput').addEventListener('change', function(event) {
        var files = event.target.files;
        console.log("=========")
        var imagePreview = document.getElementById('imagePreview');

        imagePreview.innerHTML = ''; // Clear previous previews

        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            var reader = new FileReader();

            reader.onload = function(e) {
                var img = document.createElement('img');
                img.src = e.target.result;
                img.width = 100; // Adjust as needed
                img.height = 100; // Adjust as needed
                img.style.marginBottom = '5px'; // Adjust as needed

                var container = document.createElement('div');
                container.classList.add('me-3', 'mb-3');
                container.appendChild(img);
                imagePreview.appendChild(container);
            };

            reader.readAsDataURL(file);
        }
    });
</script>




