<header>
            <!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="/">Vishal<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<form class="d-flex col-md-6 ml-5" method="get" action="/shop">
  <input class="form-control mr-sm-2 custom-search-input" name="search" type="search" placeholder="Search" aria-label="Search">
</form>


				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item active">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li><a class="nav-link" href="/shop">Shop</a></li>
						
					</ul>
					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
								<img src="images/user.svg" alt="Profile">
							</a>
							<ul class="dropdown-menu" aria-labelledby="profileDropdown">
								{{#unless login}}
								<li><a class="dropdown-item" href="/login">Login</a></li>
								{{else}}
								<li><a class="dropdown-item" href="/address">My Addresses</a></li>
								<li><a class="dropdown-item" href="/orders">My Orders</a></li>
								<li><a class="dropdown-item" href="/wallet">My Wallet</a></li>
								<li><a class="dropdown-item" href="/wishlist">Wishlist</a></li>
								<li><a class="dropdown-item" href="logout">Logout</a></li>

								{{/unless}}
 							</ul>
						</li>
						<li><a class="nav-link" href="/cart"><img src="images/cart.svg"></a></li>
					</ul>
				</div>
			</div>
				
		</nav>
		<!-- End Header/Navigation -->
		
        </header>