<section>
   <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <h1 class="mb-4">Order Successful!</h1>
        <p class="mb-4">Your order has been successfully placed. Thank you for shopping with us!</p>
        <!-- Add a button to view ordered products -->
        <a href="/orders" class="btn btn-primary">View Orders</a>
    </div>
</section>