<section>
        
		{{!-- cart section --}}
			<div class="untree_co-section before-footer-section">
            <div class="container">
              {{#if order}}
               <div class="row mb-5">
                <form class="col-md-12" method="post">
                  <div class="site-blocks-table">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="product-thumbnail">Image</th>
                          <th class="product-name">Product</th>
                          <th class="product-price">Price</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each order}}
                        <tr>
                          <td class="product-thumbnail">
                            <img src="{{this.images.[0]}}" alt="Image" class="img-fluid">
                          </td>
                          <td class="product-name">
                            <h2 class="h5 text-black">{{this.name}}</h2>
                          </td>
                          <td>{{this.price}}</td>
                          
                        </tr>
                        {{/each}}
                        
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>

               <div class="row">
                <div class="col-md-6 d-flex">
                  <div class="row mb-5">
                    <div class="col-md-6 mb-3 mb-md-0">
                     <a href="/shop" class="btn btn-black btn-sm btn-block">Continue Shopping</a>
                    </div>
                  </div>
                </div>
                </div>
                {{/if}}
                </div>
                
              </div>
		</section>
